<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Compare Cars</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .car-comparison-container {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }
        .car-details {
            flex: 1;
            border: 1px solid #ccc;
            padding: 15px;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<h1>Compare Cars</h1>
<div class="car-comparison-container" id="carComparisonContainer">
    <div class="car-details" id="currentCarDetails"></div>
    <div class="car-details" id="car1Details"></div>
    <div class="car-details" id="car2Details"></div>
</div>
<p>
    <br>
    <button class="btn btn-primary" id="showDifferencesButton">Show Differences</button>
    </br>
</p>
<script src="/js/compare.js"></script>
</body>
</html>
