<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Car Comparator</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-mQ93VnLQAKOqypC5etb3oxG4L/G8GoPzWxUDFYfzThp+hGtj58I8FbAqT1goIb6" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="container my-5">
    <div class="card shadow-lg">
        <div class="card-body text-center">
            <header class="mb-4">
                <h1 class="card-title">Car Comparator</h1>
            </header>

            <div class="search-section mb-4">
                <input class="form-control w-50 mx-auto mb-3" id="carSearch" onkeyup="fetchCarSuggestions()"
                       placeholder="Search for a car..." type="text"/>

                <div class="list-group w-50 mx-auto mb-3" id="suggestions"></div>

                <button class="btn btn-success w-50" disabled id="viewDetailsButton" onclick="redirectToCarDetails()">
                    <strong>View Car Details</strong>
                </button>
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-mQ93VnLQAKOqypC5etb3oxG4L/G8GoPzWxUDFYfzThp+hGtj58I8FbAqT1goIb6"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/landingPage.js"></script>
</body>
</html>